/* GLOBAL STYLES
-------------------------------------------------- */

html {
  font-size: 1.125rem;
}

/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar-brand {
  font-family: cursive;
}

.nav-item .dropdown-menu {
  background-color: #28a745;
}

.nav-item .dropdown-item {
  color: #ced4da;
  opacity: 0.75;
}

.nav-item .dropdown-item:hover {
  background-color: #28a745;
  color: #fff;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  top: 50%;
  transform: translateY(-45%);
  bottom: initial;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.black-overlay-20 {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  background: rgba(0,0,0,0.2);
}

.black-overlay-50 {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  background: rgba(0,0,0,0.5);
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing h2 {
  font-weight: 400;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  /* color: #28a745; */
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Non-Home Page Layouts
-------------------------------------------------- */
.container {
  margin-top: 4rem;
}


/* About Page Layout
-------------------------------------------------- */
.about-spacer {
  margin-bottom: 1rem;
}

.about-image {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.rounded-image {
  border-radius: 50%;
}

/* Resume Page Layout
-------------------------------------------------- */
.resume-header-1 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.resume-header-2 {
  font-weight: 600;
}

.resume-color {
  color: #28a745;
}

/* Contact Page Layout
-------------------------------------------------- */
.contact-icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 0.75rem;
}

.fab {
  padding: 1rem;
  width: 4rem;
  text-align: center;
  text-decoration: none;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

.fab:hover {
  opacity: 0.7;
}

.fa-linkedin-in {
  background: #0e76a8;
  color: white;
}

.fa-github {
  background: #333;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(to bottom left, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
  color: white;
}

.contact-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius: 10%;
}

/* Crime Page Layout
-------------------------------------------------- */

.crime-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .carousel {
    margin:5%;
  }
}

@media (min-width: 1200px) {
  .carousel {
    margin-top: 5%;
    margin-bottom:5%;
    margin-right: 15%;
    margin-left: 15%;
  }
}

@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .featurette-heading {
    font-size: 35px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
